<html>
<head>
  <link rel="stylesheet" type="text/css" href="bower_components/c3/c3.min.css"></link>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
#cfrange {
    position: absolute;
    left: 0px;
    top: 150px;
    display:none;
    width: 200px;
    background-color:white;
    //border: 1px solid #000000;

}

md-card: {
  margin:10px
}


</style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
</head>
<body ng-app="myApp" ng-controller="personCtrl">
<div layout="row">
  <div flex="70">
    <div layout="row"><h2>Account Value / Surrender Value</h2></div>
    <div layout="row">
      <div flex="100" id="chart">
      </div>
    </div>
    <div layout="row">
      <div flex="60" id="cashflow" >
      </div>
      <div flex="10"></div>
      <div flex="25" id="cashInOut">
      </div>
    </div>
  </div>
  <div flex="30">
      <div><h2>Parameters</h2></div>

        <md-card>
            <md-input-container>
              <label>I start my contribution at</label>
              <input ng-model="startAge" ng-change="reset()">
            </md-input-container>

        </md-card>
      </div>
</div>







      <div id="cfrange" >
        <md-card>
        <md-slider flex  min="-10000" max="10000" ng-model="tmpVal" ng-change="updateCashFlow(this)">
        </md-slider>
        {{tmpVal > 0 ? 'Top up' : 'Withdraw'}}
        <b>{{tmpVal |  abs | number}}</b> at age {{age }}
        </md-card>
      </div>



<script src="bower_components\d3\d3.min.js"></script>
<script src="bower_components\c3\c3.min.js"></script>

<script src="bower_components\angular\angular.min.js"></script>
<script src="bower_components\angular-animate\angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>

<script src="bower_components\c3-angular\c3-angular.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>




</body>
</html>

<script>
var app = angular.module('myApp', ['gridshore.c3js.chart', 'ngMaterial']);
var selectedYear = 0;
var accvalArr
var surArr
var cashflowArr
var ages

app.controller('personCtrl', function($scope) {
    $scope.chart = null;
    $scope.inflow = 0
    $scope.outflow = 0
    $scope.startAge = 30


    var resetData = function() {
      accvalArr = ['account value']
      surArr = ['surrender value']
      cashflowArr = ['cashflow']
      ages = ['x']
      $scope.outflow = 0
      $scope.inflow = 0

      for(i = 1; i < 60 - $scope.startAge; i++) {
        accvalArr[i] = 100000 + i * 500 * i
        surArr[i] = 5000 + i * 200 * i
        cashflowArr[i] = 0
        ages[i] = i + parseInt($scope.startAge)
      }

      setTimeout(angular.noop, 10000);
    }

    $scope.updateCashFlow = function() {
      cashflowArr[selectedYear + 1] = parseInt($scope.tmpVal)


      setTimeout(function() {   d3.selectAll("#cfrange")
        .style(
          {
            'display': 'none',
          })
          }, 3000);

      var cfArr = cashflowArr.slice(0)
      cfArr.shift()

      console.log(cfArr)

      $scope.inflow = cfArr.reduce(

        function(total=0, num) {
          return (num > 0 ? total : total - (num))
        },
        0)

      $scope.outflow = cfArr.reduce(
        function(total=0, num) {
          return (num < 0 ? total : total + (num))
        },
      0)
      //$scope.cfshowGraph()
      //$scope.cfshowPieGraph()
      $scope.redraw()

    }

    $scope.reset = function() {
      resetData()
      $scope.showGraph()
      $scope.cfshowGraph()
      $scope.cfshowPieGraph()
    }

    $scope.redraw = function() {

       $scope.cfchart.load({
        columns: [cashflowArr]
       });

$scope.cfshowPieGraph()

        var chart2 = $scope.cfchart

        d3.select(chart2.element)
            .select('.' + c3.chart.internal.fn.CLASS.axisX)
            .transition()
            .attr('transform', "translate(" + 0 + "," + chart2.internal.y(0) + ")")
    }

    $scope.showGraph = function() {
        $scope.chart = c3.generate({
                bindto: '#chart',

                data: {
                  x: 'x',
                  columns: [
                    ages,
                    accvalArr,
                    surArr,
                  ],
                  //x: ages,
                  onclick: $scope.clickEvent,
                  type: 'bar'
                },
            })
    }

    $scope.cfshowGraph = function() {
        $scope.cfchart = c3.generate({
                bindto: '#cashflow',
                data: {
                  x: 'x',
                  columns: [
                    ages,
                    cashflowArr
                  ],
                  onclick: $scope.clickEvent,
                  type: 'bar'
                },
                axis: {
                  y: {
                    max: 10000,
                    min: -10000
                  }
                }
            });

        var chart = $scope.cfchart
        d3.select(chart.element)
            .select('.' + c3.chart.internal.fn.CLASS.axisX)
            .transition()
            .attr('transform', "translate(" + 0 + "," + chart.internal.y(0) + ")")
    }

    $scope.cfshowPieGraph = function() {
        $scope.cfpiechart = c3.generate({
                bindto: '#cashInOut',
                data: {
                  columns: [
                    ['Total withdrawal', $scope.outflow],
                    ['Total topup', $scope.inflow]
                  ],
                  type : 'pie',
                },
                pie: {
                  label: {
                    format: function(value, ratio, id) {
                      return value;
                    }
                  }
                }
            });
    }

    $scope.clickEvent = function(d) {
      d3.selectAll("#cfrange")
        .style(
          {
            'left': d3.event.pageX - 100 + 'px',
            'top': d3.event.pageY + 'px',
            'display': 'block',
          })
          ////console.debug(d)
          selectedYear = d.index;
          $scope.age = d.x

         $scope.$apply(function() {
            $scope.tmpVal = cashflowArr[selectedYear + 1]
          });
    }

    $scope.init = function() {
      resetData()
      $scope.showGraph();
      $scope.cfshowGraph()
    }


    setTimeout($scope.init, 500)
});

d3.select('body').on('click', function(){
  //console.log('msg is'+  (d3.event.pageX) );
})

app.filter('abs', function () {
  return function(val) {
    return Math.abs(val);
  }
});





</script>
