<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  </link>
  <style>
    .md-select {
    margin-top:-23px;
    }
  </style>
</head>
<body ng-app="app" ng-controller="ctrl">
<form name="projectForm">
<div layout="row">
  <div flex="30">
    <h2>Data Object:</h2>
    <pre>
      {{user|json}}
    </pre>
  </div>
  <div flex="70">
    <md-card>
      <md-card-actions layout="row" layout-align="end center">
        <md-card-title><h2>Customer</h2></md-card-title>
        <md-button>Save</md-button>
        <md-button>Cancel</md-button>
      </md-card-actions>
      <md-card-content>
        <common-fields obj="user">
        </common-fields>
        <additional-fields obj="user">
        </additional-fields>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        Spouse
      </md-card-title>
      <md-card-content>
        <common-fields obj="getSpouse()">
        </common-fields>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <i class="material-icons" ng-click="addChild()">add_circle</i>
        Children
      </md-card-title>
      <md-card-content>
        <div ng-repeat="c in getChildren()">
          <i class="material-icons" ng-click="removeDependant(c.id)">remove_circle</i>
          <common-fields  obj="c"></common-fields>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <i class="material-icons" ng-click="addDependant()">add_circle</i>
        Other Dependants
      </md-card-title>
      <md-card-content>
        <div ng-repeat="c in getDependants()">
          <i class="material-icons" ng-click="removeDependant(c.id)">remove_circle</i>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Relationship</label>
            <md-select ng-model="c.relationship">
              <md-option  value="Father">Father</md-option>
              <md-option  value="Mother">Mother</md-option>
            </md-select>
          </md-input-container>
          <common-fields  obj="c">

      </md-card-content>

    </md-card>
  </div>
</div>
</form>
<script src="bower_components\angular\angular.min.js"></script>
<script src="bower_components\angular-animate\angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>

<script data-require="moment.js@*" data-semver="2.8.3" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
<script data-require="moment-timezone-with-data@*" data-semver="0.2.5" src="http://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>
<script>
         var app = angular.module('app', ['ngMaterial','ngMessages']);

         app.controller('ctrl', function($scope, $timeout, $mdSidenav, $http) {
              $scope.user = {
                commonFields: {},
                dependents: []
              };

              $scope.addChild = function() {
                $scope.addDependant('child')
              }
              $scope.removeDependant = function(id) {

                var ds = $scope.user.dependents
                var i = ds.map(function(e) { return e.id; }).indexOf(id);
                ds.splice(i,1)
              }

              $scope.addSpouse = function() {
                $scope.addDependant('spouse')
              }

              $scope.getChildren = function() {
                return $scope.user.dependents.filter(d => d.relationship == "child" );
              }

              $scope.getDependants = function() {
                return $scope.user.dependents.filter(d => !(d.relationship == "spouse" || d.relationship == "child") );
              }

              $scope.getSpouse = function() {

                  var spouse = $scope.user.dependents.filter(d => d.relationship == "spouse" );

                  if(spouse.length == 0) {
                    spouse = $scope.user.dependents.push({
                      relationship: "spouse",
                      id: 1
                    })
                  }
                  else {
                    spouse = spouse[0]
                  }

                  return spouse
              }
              $scope.addDependant = function(relation) {
                var id = Math.max.apply(Math,$scope.user.dependents.map(function(o){return o.id;}))
                id += 1
                $scope.user.dependents.push(
                  {
                    relationship: relation,
                    id: id
                  }
                )
              }
         });







      </script>
<script src="directives/address.js"></script>
<script src="directives/occupation.js"></script>
<script src="directives/commonFields.js"></script>
<script src="directives/additionalFields.js"></script>
</body>
</html>
