<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  </link>
  <style>

  </style>
</head>
<body ng-app="app" ng-controller="ctrl">


<div layout="row">
  <div flex="30">
    <h2>Data Object:</h2>
    <pre>
      {{user|json}}
    </pre>
  </div>
  <div flex="70">
    <md-card>
      <md-card-title>
        Customer
      </md-card-title>
      <md-card-content>
        <common-fields obj="user">
        </common-fields>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Smoking Status</label>
          <md-select ng-model="user.smokingstatus">
            <md-option  value="Yes">Yes</md-option>
            <md-option  value="No">No</md-option>
          </md-select>
        </md-input-container>


      </md-card-content>

    </md-card>

    <md-card>
      <md-card-title>
        Spouse
      </md-card-title>
      <md-card-content>
        <common-fields obj="getSpouse()">
        </common-fields>
      </md-card-content>
    </md-card>


    <md-card>
      <md-card-title>
        <i class="material-icons" ng-click="addChild()">add_circle</i>
        Children
        <i class="material-icons" ng-click="removeChild()">remove_circle</i>
      </md-card-title>
      <md-card-content>
        <common-fields ng-repeat="c in getChildren()" obj="c"></common-fields>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>
        <i class="material-icons" ng-click="addDependant()">add_circle</i>
        Other Dependants
        <i class="material-icons" ng-click="removeDependant()">remove_circle</i>
      </md-card-title>
      <md-card-content>
        <div ng-repeat="c in getDependants()">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Relationship</label>
            <md-select ng-model="c.relationship">
              <md-option  value="Father">Father</md-option>
              <md-option  value="Mother">Mother</md-option>
            </md-select>
          </md-input-container>
          <common-fields  obj="c">
      </md-card-content>
    </md-card>

  </div>

</div>
<script src="bower_components\angular\angular.min.js"></script>
<script src="bower_components\angular-animate\angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script>
         var app = angular.module('app', ['ngMaterial']);

         app.controller('ctrl', function($scope, $timeout, $mdSidenav, $http) {
              $scope.user = {
                commonFields: {},
                dependents: []
              };

              $scope.addChild = function() {
                $scope.addDependant('child')
              }

              $scope.removeChild = function() {
                var ds = $scope.user.dependents
                var i = ds.lastIndexOf(d => d.relationship == "child")
                ds.splice(i,1)
              }

              $scope.removeDependant = function() {
                var ds = $scope.user.dependents
                var i = ds.lastIndexOf(d => !(d.relationship == "spouse" || d.relationship == "child"))
                ds.splice(i,1)
              }

              $scope.addSpouse = function() {
                $scope.addDependant('spouse')
              }

              $scope.getChildren = function() {
                return $scope.user.dependents.filter(d => d.relationship == "child" );
              }

              $scope.getDependants = function() {
                return $scope.user.dependents.filter(d => !(d.relationship == "spouse" || d.relationship == "child") );
              }

              $scope.getSpouse = function() {

                  var spouse = $scope.user.dependents.filter(d => d.relationship == "spouse" );

                  if(spouse.length == 0) {
                    spouse = $scope.user.dependents.push({
                      relationship: "spouse",

                    })
                  }
                  else {
                    spouse = spouse[0]
                  }

                  return spouse
              }
              $scope.addDependant = function(relation) {
                $scope.user.dependents.push({relationship: relation})
              }






         });

         app.directive("occupation", function() {
            return {
                scope : {
                  obj :'='
                },
                template : `
                             <md-autocomplete
                              md-selected-item="obj.occupation"
                              md-search-text="searchText"
                              md-items="item in querySearch(searchText)"
                              md-item-text="item.display"
                              md-min-length="0"
                              placeholder="Occupation">
                              <md-item-template>
                                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                              </md-item-template>

                            </md-autocomplete>
                `,
                controller: function($scope) {
               var states   = loadAll();



              function loadAll() {

              return [
                    {display : "Able Seamen", value : "J01"},
                    {display : "Account Collector", value : "J02"},
                    {display : "Accounting Specialist", value : "J03"},
                    {display : "Adjustment Clerk", value : "J04"},
                    {display : "Administrative Assistant", value : "J05"},
                    {display : "Administrative Law Judge", value : "J06"},
                    {display : "Administrative Service Manager", value : "J07"},
                    {display : "Admiralty Lawyer", value : "J08"},
                    {display : "Adult Literacy and Remedial Education Teachers", value : "J09"},
                    {display : "Advertising Account Executive", value : "J10"},
                    {display : "Advertising Agency Coordinator", value : "J11"},
                    {display : "Aeronautical & Aerospace Engineer", value : "J12"},
                    {display : "Aerospace Engineering Technician", value : "J13"},
                    {display : "Agricultural Crop Farm Manager", value : "J14"},
                    {display : "Agricultural Engineer", value : "J15"},
                    {display : "Agricultural Equipment Operator", value : "J16"},
                    {display : "Alumni Relations Coordinator", value : "J39"},
                    {display : "Bindery Machine Tender", value : "J92"},
                    {display : "Biological Technician", value : "J93"},
                    {display : "Biology Professor", value : "J94"},
                    {display : "Biomedical Engineer", value : "J95"},
                    {display : "Court Reporter", value : "J220"},
                    {display : "Craft Artist", value : "J221"},
                    {display : "Crane Operator", value : "J222"},
                    {display : "Credit Adjuster", value : "J223"},
                    {display : "Credit Analyst", value : "J224"},
                    {display : "Credit Reporter", value : "J225"},
                    {display : "Criminal Investigator (Detective)", value : "J226"},
                    {display : "Criminal Justice Professor", value : "J227"},
                    {display : "Criminal Lawyer", value : "J228"},
                    {display : "Crop Workers Supervisor", value : "J229"},


                      ]
              }

              $scope.querySearch =function(query) {
                var results = query ? states.filter( s => s.display.toLowerCase().indexOf(query.toLowerCase()) === 0 ) : states
                return results;
              }
                }
             }
         })

        app.directive("commonFields", function() {
            return {
                scope: {
                  obj: '='
                },
                template : `

                  <div layout="row">
                    <md-input-container flex=30>
                      <label>Title</label>
                      <md-select ng-model="obj.state">
                        <md-option  value="MR">Mr</md-option>
                        <md-option  value="MS">Ms</md-option>
                        <md-option  value="MISS">Miss</md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container flex=70>
                      <label>Full Name</label>
                      <input ng-model="obj.fullname">
                    </md-input-container>

                  </div>
                  <div ="row">
                    <md-input-container flex=20>
                    <label>Gender</label>
                      <md-select ng-model="obj.gender">
                        <md-option  value="Male">Male</md-option>
                        <md-option  value="Female">Female</md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container flex=40>
                      <label>Age</label>
                      <input ng-model="obj.age">
                    </md-input-container>
                    <md-input-container flex=40>
                      <label>Date of Birth</label>
                      <md-datepicker ng-model="obj.dob" md-current-view="year"></md-datepicker>
                    </md-input-container>
                    <occupation obj="obj"></occupation>
                  </div>
                `

            };
        });

      </script>
</body>
</html>
