<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  </link>
  <style>
         md-grid-list {
         margin: 2px; }
         md-grid-tile {
          transition: all 400ms ease-out 1000ms;
         }

        .mnuItem {
          height:100px;
          background-color:grey;
          width:100%;
          margin: 5px;
         }
          .gtile {

                     background-size:cover;
                     background-position:center;

                     background-repeat:no-repeat;
                     -webkit-background-size:cover;
                     -moz-background-size:cover;
                     -o-background-size:cover;
                     }
         #sidenav {
          transition: all 400ms ease-out 400ms;
          width:25%;
          }
      </style>
</head>
<body ng-app="app" ng-controller="ctrl"  layout="row">
<section layout="column" flex>
  <md-toolbar id="header">
    <md-button ng-click="toggleLeft()"  >
      Open sidenav (Toolbar)
    </md-button>
  </md-toolbar>
  <md-sidenav md-component-id="left"
              md-whiteframe="4" id="sidenav">
    <md-toolbar >
      <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>
    <md-content layout-margin>
      <p>
        This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
      </p>
      <md-button ng-click="toggleLeft()" class="md-accent">
        Close Sidenav
      </md-button>
    </md-content>
  </md-sidenav>
  <md-content flex >
    <div layout="row">
      <div flex="{{left}}" style="padding:10px" id="sidenav">
        <md-button ng-click="close()"  >
          close
        </md-button>
        <div class="mnuItem" ng-repeat="m in menu">
        </div>
      </div>
      <md-grid-list
        md-cols-sm="{{col}}" md-cols-md="{{col}}" md-cols-gt-md="{{col}}"
        md-row-height-gt-md="1:1" md-row-height="2:2"
         flex="{{right}}">
        <md-grid-tile class="blue gtile" ng-repeat="c in content"
                      md-colspan="{{c.cols}}"
                      style="
                        background-color: {{c.color}};
                        background-image: url('{{c.image}}');
                      "

        >
        </md-grid-tile>
      </md-grid-list>
    </div>
  </md-content>
</section>
<script src="bower_components\angular\angular.min.js"></script>
<script src="bower_components\angular-animate\angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script>
         var app = angular.module('app', ['ngMaterial']);

         app.controller('ctrl', function($scope, $timeout, $mdSidenav) {
         $scope.col = 3;
         $scope.left = 25;
         $scope.right= 75;
         $scope.close = function() {
              if($scope.col == 3) {
               $scope.col = 4;
               $scope.left = 5;
              }
              else {
               $scope.col = 3;
               $scope.left = 25;
              }
              $scope.right= 100 - $scope.left;
         }
            $scope.menu = ['xxxxx', 'bbbbb','cccc']

           $scope.content = [
             {
               image: 'http://media.istockphoto.com/photos/family-care-picture-id515605078',
               cols: 2,
               description: ''
             },
             {
               image: 'http://media.istockphoto.com/photos/expressions-of-true-love-picture-id522126982',

               description: ''
             }
         ,
             {
               image: 'http://media.istockphoto.com/photos/expressions-of-true-love-picture-id522126982',

               description: ''
             }
         ,
             {
               image: 'http://media.istockphoto.com/photos/expressions-of-true-love-picture-id522126982',
               cols: 2,
               description: ''
             },
             {
               color: 'green',
               description: ''
             },
             {
               color: 'red',
               description: ''
             },
             {
               color: 'red',
               description: ''
             }

           ]

           $scope.toggleLeft = buildToggler('left');

           function buildToggler(componentId) {
             return function() {
               $mdSidenav(componentId).toggle();
             };
           }

         });

      </script>
</body>
</html>
