<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="myApp" ng-controller="personCtrl">
Loading time: {{loading | number}} ms
<br>
Parsing time: {{parsing | number}} ms
<br>
<div ng-repeat="n in state.baseQuestion">
  <button>{{n.page}}</button>
  {{n.text}}
  <div ng-repeat="fs in n.filter">
    <div ng-if="!isArray(fs.filterValue)">
      <a href="">{{fs.filterValue}}</a>
    </div>
    <div ng-repeat="f in fs.filterValue" ng-if="isArray(fs.filterValue)">
      <a href="">{{f}}</a>
    </div>
  </div>

  <div ng-repeat="bq in n.baseQuestion">
      {{bq.prompt}}
  </div>
</div>
<br>
Data:
<pre>
  {{state | json}}
</pre>




<script src="bower_components/xml-to-json/json2xml.min.js"></script>
<script src="bower_components/xml-to-json/xml.min.js"></script>
<script src="bower_components\angular\angular.min.js"></script>
<script>
  var app = angular.module('myApp', []);



  app.controller('personCtrl', function($scope, $http) {

      var state = {}

      var t0 = performance.now();

      $scope.isArray = function(obj) {
        return Array.isArray(obj)
      }

			$http.get('HK_EN_RULEBOOK_20170630_14150000.xml')
			.then(
				function(data) {

 					 var t1 = performance.now();
 					 $scope.loading = (t1 - t0)
					  //console.log("Call to doSomething took " + (t1 - t0) + " milliseconds.")

				    jsonData = xml.xmlToJSON(data.data);
				    state.baseQuestion = jsonData.ruleset.baseQuestions.section
				    state.categories = jsonData.ruleset.categories.category
				    state.rules = jsonData.ruleset.rules.rule
            var t2 = performance.now();
            $scope.parsing = (t2 - t1)
            console.log("Call to doSomething took " + (t2 - t1) + " milliseconds.")

				    console.debug(state)

				    $scope.state = state

				}
			)

  })
</script>
</body>
</html>
